<!DOCTYPE html>
{%load static %}
<html lang="en">


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About us</title>
  <link rel="stylesheet" href="{% static 'about.css' %}" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
  <link rel="stylesheet" href="{% static 'about.css' %}" />
</head>



<body>
  <!-- -----------------------------------------------company---------------------------------------------------------------- -->
  <div class="company" style="margin-top: 22px;">
    <div class="img">
      <img src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\group.jpeg' %}" style="height: 350px; width: 500px; border-radius: 55px; margin-left: 222px;" alt="" />
    </div>
    <div class="company-info">
      <span>Volo Mart - <span class="our">Your One-stop Online Shopping Destination!</span></span>
      <p>
        <b>At Volo Mart, </b> we are committed to providing you with the best online shopping experience possible.
        Our goal is to make shopping easy, convenient, and affordable for everyone. We believe in supporting our local
        community and promoting local products, which is why we are proud to be a vocal-for-local online marketplace.
      </p>
    </div>
  </div>
  <div class="team"><span>OUR TEAM</span></div>
  <div class="container">
    <div class="card">
      <div class="card-image loading"><img
          src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\sharvesh.jpeg' %}"
          alt="" style="height: 350px; width: 500px;" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Sharvesh <span class="yellow-surname">Singh</span></span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Graphic Designing Head</span> <br>
            Vidyavardhini's College Of Engineering and Technology(VCET) <br>
            Email: <a href="mailto:'ss6239620@gmail.com'">ss6239620@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="loading" target="on_blank"><i><img
            src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\logo-no-background.png' %}"
            alt="Pico"></a></i>
          <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img
        src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\soham.jpeg' %}"
        alt="" style="height: 350px; width: 500px;"  /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Soham <span class="yellow-surname">Patil</span></span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Web Developing Head</span> <br>
            Vidyavardhini's College Of Engineering and Technology(VCET) <br>
            Email: <a href="mailto:'patilsoham390@gmail.com'">patilsoham390@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="loading" target="on_blank"><i><img
            src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\logo-no-background.png' %}"
            alt="Pico"></i></a>
          <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img
        src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\sahil.jpeg' %}"
        alt="" style="height: 350px; width: 500px;"  /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Sahil <span class="yellow-surname">Kulabkar</span></span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Marketing and Publicity Head</span> <br>
            Vidyavardhini's College Of Engineering and Technology(VCET) <br>
            Email: <a href="mailto:'kulabkarsahil07@gmail.com'">kulabkarsahil07@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="loading" target="on_blank"><i><img
            src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\logo-no-background.png' %}"
            alt="Pico"></a></i>
          <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-image loading"><img
          src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\vrushart.jpeg' %}"
          alt="" style="height: 350px; width: 500px;"  /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span>Vrushart <span class="yellow-surname">Nirmal</span></span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Web Developing Head</span> <br>
            Vidyavardhini's College Of Engineering and Technology(VCET) <br>
            Email: <a href="mailto:'vrushart07@gmail.com'">vrushart07@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="loading" target="on_blank"><i><img
          src="{% static 'D:\VoLo\VoLo_latest\VoLo\static\logo-no-background.png' %}"
            
                alt="Pico"></i></a>
          <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
              class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------footer------------------------------------------ -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">VOLO</span>
        </div>
        <div class="media-icons">
          <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
          <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Links</li>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="#">Submit Photo</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Recommended</li>
          <li><a href="#">India</a></li>
          <li><a href="#">Art and Culture</a></li>
          <li><a href="#">People</a></li>
          <li><a href="#">Travel</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Legal Info</li>
          <li><a href="#">Licence</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Privacy Policies</a></li>

        </ul>
        <ul class="box">
          <li class="link_name">Contact</li>
          <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
          <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
        </ul>
      </div>
    </div>

    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2021 <a href="#">VOLO.</a></span>
      </div>
    </div>
  </footer>

  <script>
    const cardImages = document.querySelectorAll(".card-image");
    const cardTitles = document.querySelectorAll(".card-title");
    const cardDescriptions = document.querySelectorAll(".card-description");
    const cardMediaIcons = document.querySelectorAll(".card-mediaIcons a");
    const cardImgs = document.querySelectorAll(".card-image img");
    const cardTitleSpans = document.querySelectorAll(".card-title span");
    const cardDescSpans = document.querySelectorAll(".card-description span");
    const mediaIcons = document.querySelectorAll(".card-mediaIcons a i");

    const renderCard = () => {
      //Remove the skeleton loading effect
      cardImages.forEach((cardImage) => {
        cardImage.classList.remove("loading");
      });
      cardTitles.forEach((cardTitle) => {
        cardTitle.classList.remove("loading");
      });
      cardDescriptions.forEach((cardDescription) => {
        cardDescription.classList.remove("loading");
      });
      cardMediaIcons.forEach((cardMediaIcon) => {
        cardMediaIcon.classList.remove("loading");
      });

      //Show the hidden html elements
      cardImgs.forEach((cardImg) => {
        cardImg.style.visibility = "visible";
      });
      cardTitleSpans.forEach((cardTitleSpan) => {
        cardTitleSpan.style.visibility = "visible";
      });
      cardDescSpans.forEach((cardDescSpan) => {
        cardDescSpan.style.visibility = "visible";
      });
      mediaIcons.forEach((mediaIcon) => {
        mediaIcon.style.visibility = "visible";
      });
    }

    setTimeout(() => {
      renderCard();
    }, 1000);


  </script>

  </html>