{% extends 'base.html' %}


{% block title %}
Registration page 
{% endblock title %} 


{% block activeregister %}
active
{% endblock activeregister %} 



{% block body %}

<div>
  {% if successs %}
    <div class="container" style="height:50px; width: 100%;">
    <div class="alert alert-danger alert-dismissible fade show" style="height:50px" role="alert">
      {{mssg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
  </div>
  {% endif %}
  
  {% if success %}
    <div class="container" style="height:50px; width: 100%;">
    <div class="alert alert-success alert-dismissible fade show" style="height:50px" role="alert">
      <strong>Registration Completed!!</strong> Thank you {{name}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {% endif %}
  
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/"> Back </a></button>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/owner"> Register as Shopowner </a></button>
<h2 class="text-center ">Registration Page for Costumers</h2>

</div>
<div class="container">
    <form action="/register" method="post">
        {% csrf_token %}
        
        
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username ">
        </div>

        
        <div class="form-group">
          <label for="first_name">First_name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your First_name ">
        </div>

        
        <div class="form-group">
          <label for="last_name">last_name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your Last_name ">
        </div>
        
        
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          </div> 

        
          <div class="form-group">
            <label for="password">Password</label>
            <input type="inputPassword" class="form-control" id="inputPassword" name="password1" placeholder="Enter your Password">
          </div>  

          <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="inputPassword" class="form-control" id="inputPassword" name="password2" placeholder="Enter your Password">
          </div>  


      <button type="submit" class="btn btn-primary" >Submit
    </button>
  </form>
</div>

{% endblock body %}
