<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
</head>
<body>
    
<div>
    {% if successs %}
    <div class="container" style="height:50px; width: 100%;">
      <div class="alert alert-danger alert-dismissible fade show" style="height:50px" role="alert">
        {{mssg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
    
  {% endif %}
  
  {% if success %}
    <div class="container" style="height:50px; width: 100%;">
    <div class="alert alert-success alert-dismissible fade show" style="height:50px" role="alert">
      <strong>Product added!!</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {% endif %}
    
<div class="container mt-50 my-3" >
  {% for so in so %}
    <form action="/addproduct/{{username}}/{{so.state}}/{{so.city}}/{{so.area}}" enctype="multipart/form-data" method="post">
  {% endfor %}
        {% csrf_token %}
      <div class="container">
        
        <div class="container d-flex justify-content-center">
          <i class="bi bi-person" style="height: 40px;">{{username}}</i>
        </div>
        <div class="container d-flex justify-content-center">
          <a class="btn btn-primary my-2 mx-4 " href="/checkorders" >Check orders </a>
          {% for so in so %}
          <a class="btn btn-primary my-2 mx-4" href="/productlist" >Edit Products</a>
          {% endfor %}
        </div>
      </div>

      <h4>Add Products:</h4>
      <div class="form-group">
          <label for="seller">username</label>
            <input disabled type = "text" name = "seller" value = "{{ username }}" />
          </div>
          
          <div class="form-group">
            <label for="itemname">Itemname</label>
            <input type="text" class="form-control" id="itemname" name="itemname" placeholder="Enter your itemname ">
          </div>
          
          <div class="form-row">
        <div class="form-group  col-md-4">
          <label for="category" name="category" >category</label>
          <select name="category" id="category">
            <option value="Vegetables">Vegetables</option>
            <option value="Fruits">Fruits</option>
            <option value="Electronics">Electronics</option>
            <option value="Clothes">Clothes</option>
          </select>
        </div>

        
        <div class="form-group col-md-4">
          <label for="old_itemprice">Old itemprice</label>
          <input type="number" id="old_itemprice" name="old_itemprice" min="1" max="500000">
        </div>
        
        <div class="form-group col-md-4">
          <label for="new_itemprice">New itemprice</label>
          <input type="number" id="new_itemprice" name="new_itemprice" min="1" max="500000">
        </div>
      </div>
        
        
        <div class="form-group">
          <label for="discription">Description for product</label>
          <textarea type="text" class="form-control" id="discription" name="discription" placeholder="Enter product's description "></textarea>
        </div>
        
        <div class="form-row">
        <div class="form-group col-md-3">
          <label for="key_features1">Keyfeature 1</label>
          <input type="text" class="form-control" id="key_features1" name="key_features1" >
        </div>
        
        <div class="form-group col-md-3">
          <label for="key_features2">Keyfeature 2</label>
          <input type="text" class="form-control" id="key_features2" name="key_features2" >
        </div>
        
        <div class="form-group col-md-3">
          <label for="key_features3">Keyfeature 3</label>
          <input type="text" class="form-control" id="key_features3" name="key_features3" >
        </div>
        
        <div class="form-group col-md-3">
          <label for="key_features4">Keyfeature 4</label>
          <input type="text" class="form-control" id="key_features4" name="key_features4" >
        </div>
      </div>
        
        <div class="form-group">          
          <label for="lastdate">Lastday:</label>
          <input type="date" id="lastdate" name="lastdate">
        </div>
        


        <div class="form-group">
            <label for="images">Image of product</label>
                <input  type="file" name="images" Required />
          </div> 
        

      <button type="submit" class="btn btn-primary" >Add Product </button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>